*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #2e2f30;
}

/* body{
    width: 500px;
    height: 600px;
} */


/* .search-container {
    display: flex;
    margin: 20px;
    max-width: 450px;
} */


.search-container {
    /* width: 100%;
    min-height: 100vh; */
    /* padding: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.search-bar{
    width: 100%;
    max-width: 400px;
    display: flex;
    background: rgba(41, 38, 38, 0.8);
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}

/* Style for the search input */
/* .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
} */

.search-input {
    background: transparent;
    flex: 1;
    padding: 10px;
    border: 0;
    outline: none;
    color: #fff;
    filter: brightness(200%);
    padding: 18px 14px;
    font-size: 16px;
}

.search-button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #787c90;
    cursor: pointer;
}

.search-button svg{
    width: 25px;
}

/* Style for the search button */
/* .search-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
} */

/* Style on hover for the search button */
.search-button:hover {
    background-color: #8294a8;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 120px;
    max-height: 150px;
  }

.search_inner_section {
    margin-top: 20px;
    width: 500px;
}

.search_title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.search_desc{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 11px;
}

