.post-box{
    display: flex;
    width: 440px;
    margin: 30px;
    padding: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
}

.claim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.claim h1{
    font-size: large;
}

.content{
    font-size: 13px;
}

.evaluate{
    display: flex;
    width: 1120px;
    align-items: center;
    gap: 20px;
}

.evaluate h1{
    font-size: large;
}

.support-tag{
    padding: 8px 12px;
    align-items: center;
    border-radius: 20px;
    background: #D5E9D9;
}

.refuse-tag{
    padding: 8px 12px;
    align-items: center;
    border-radius: 20px;
    background: #ebbebf;
}

.neutral-tag{
    padding: 8px 12px;
    align-items: center;
    border-radius: 20px;
    background: #f3efce;
}